body {
    margin: 0;
}

.application {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer { color: red; }

.header {
    font-family:'Courier New', Courier, monospace;
}

// div {

// }
